h1 {
    text-align: left;
    margin-top: 120px;

}

h2 {
    text-align: center;
    margin-top: 120px;
}

h3 {
    text-align: left;
    margin-top: 120px;
}

p {
    text-align: center;
}

.container {
    text-align: left;
    font-weight: bold;
}



